.assignment-wrapper {
  border: 1px solid lightgrey;
  padding: 2em;
  border-radius: 1em;
  margin-top: 2em;
}

.assignment-wrapper-title{
  width: min-content !important;
  margin-top: -2em !important;
  white-space: nowrap !important;
  background-color: white !important;
  margin-bottom: 1em !important;
}